$sideSegmentWidth: 24em;
$playerHeight: 8em;

.playerWrapper {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $playerHeight;
  border-top: 1px solid #f0f0f0;

  background-color: white;

  .noTrackMessage {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(80, 80, 80);
  }

  .playerContent {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .playerAudioCard {
      display: flex;
      align-items: center;
      width: $sideSegmentWidth;
      margin-right: 1em;

      .playerImg {
        position: static;
        width: $playerHeight;
        height: $playerHeight;
      }
    }

    .playArea {
      width: 50%;

      .controlPanel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 1em;

        .playButton {
          margin: 0 0.5em;
        }
      }

      .trackTimeline {
        margin-right: -56px;
      }
    }

    .volumeAreaWrapper {
      width: $sideSegmentWidth;
      min-width: 8em;

      .volumeArea {
        display: flex;
        margin-left: 4em;

        .volumeSlider {
          margin-left: 0.5em;
          flex-grow: 1;
        }

        svg {
          position: relative;
          bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .playerAudioCard {
    .playerImg {
      display: none;
    }

    .shortInfo {
      margin-left: 1em;
    }
  }
}
