@use '../Player/Player' as player;

.sidebarWrapper {
  max-height: 100%;
  min-width: 16em;
  width: 15%;
  z-index: 9999;

  margin-bottom: player.$playerHeight;
  border-right: 1px solid #f0f0f0;
  background-color: white;
  overflow-y: auto;

  h3 {
    margin-left: 1em;
  }
}
