/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@use './components/Player/Player.scss' as player;

body {
  // position: relative;
  // color: white;
  margin: 0;
  height: 100vh;
  // background: linear-gradient(
  //   200.96deg,
  //   #fedc2a -29.09%,
  //   #dd5789 51.77%,
  //   #7a2c9e 129.35%
  // );
  font-family:
    "Segoe UI",
    "Segoe UI Web (West European)",
    -apple-system, BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  // overflow-y: hidden;
  // justify-content: center;
  // align-items: center;
}

div, img, p, h1, h2, h3, h4, span {
  user-select: none;
}

#root {
  display: flex;
  height: 100%;

  .mainViewContainer {
    flex: 1;
    margin-bottom: player.$playerHeight;
  }

  .dragTrackWindow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: player.$playerHeight;

    border: 3px dashed #000;
  }
}

svg {
  position: relative;
  bottom: 2px;
}

.noContent {
  margin: 0 1em 4em;
}
